@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body{
  margin: 0;
  padding: 0;
  background: rgba(90, 0, 60, 1);
  overflow-x: hidden;
  scroll-behavior: smooth;
  position: relative;

}

:root {
	--gap: 1rem;
	--card-width: clamp(280px, 20vw, 100vw);
	--card-aspect-ratio: 4 / 10;
	--card-height: calc(var(--card-width) * (10 / 4));
}

*,
*:after,
*:before {
	box-sizing: border-box;
}


body::-webkit-scrollbar {
  display: none;
}


