.generate-post-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}
.posts-container {
  width: 100%;
  height: 100%;
  background-color: #ffffff;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.post-container {
  width: 30%;
  height: 100%;
  background: #808080;
}
.parent {
  display: grid;
  grid-template-columns: repeat(11, 1fr);
  grid-template-rows: repeat(4, 1fr);
  background: purple;
  width: 100%;
  height: 100%;
}
.div1 {
  grid-column: span 3 / span 3;
  width: 70px;
  height: 70px;
  background: yellow;
}
.div2 {
  grid-column: span 3 / span 3;
  grid-column-start: 5;
  width: 70px;
  height: 70px;
  background: yellow;
}
.div3 {
  grid-column: span 3 / span 3;
  grid-column-start: 9;
  width: 70px;
  height: 70px;
  background: yellow;
}
.div4 {
  grid-column: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 2;
  width: 70px;
  height: 70px;
  background: yellow;
}
.div5 {
  grid-column: span 3 / span 3;
  grid-column-start: 7;
  grid-row-start: 2;
  width: 70px;
  height: 70px;
  background: yellow;
}
.div6 {
  grid-column: span 3 / span 3;
  grid-row-start: 3;
  width: 70px;
  height: 70px;
  background: yellow;
}
.div7 {
  grid-column: span 3 / span 3;
  grid-column-start: 5;
  grid-row-start: 3;
  width: 70px;
  height: 70px;
  background: yellow;
}
.div8 {
  grid-column: span 3 / span 3;
  grid-column-start: 9;
  grid-row-start: 3;
  width: 70px;
  height: 70px;
  background: yellow;
}
.div9 {
  grid-column: span 3 / span 3;
  grid-column-start: 7;
  grid-row-start: 4;
  width: 70px;
  height: 70px;
  background: yellow;
}
.div10 {
  grid-column: span 3 / span 3;
  grid-column-start: 3;
  grid-row-start: 4;
  width: 70px;
  height: 70px;
  background: yellow;
}
