.generate-post-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 80px;
}

.bg-1{
  background: #870014;
}

.bg-0{
  background: #ffeb7d;
}

.bg-2{
  background: #5a003c;
}

.selected{
  transform: scale(1.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.posts-container {
  width: 50%;
  height: 55%;
  display: flex;
  gap: 30px;
  justify-content: center;
}
.post-container-middle {
  width: 30%;
  height: 100%;
  background-image: url("/cinverse-red.png");
  background-size: cover; /* covers the div nicely */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ffeb7d;
  border-radius: 12px;
  gap: 10px;
}

.post-container-left {
  width: 30%;
  height: 100%;
  background-image: url("/cinverse-yellow.png");
  background-size: cover; /* covers the div nicely */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #870014;
  border-radius: 12px;
  gap: 10px;
}
.post-container-right {
  width: 30%;
  height: 100%;
  background-image: url("/cinverse-blue.png");
  background-size: cover; /* covers the div nicely */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #5a003c;
  border-radius: 12px;
  gap: 10px;
}

.long-line {
  display: flex;
  gap: 10px;
}
.short-line {
  display: flex;
  gap: 10px;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-middle {
  font-size: 36px;
  font-weight: 900;
  color: #ffeb7d;
  transform: scaleY(1.4);
  font-family: "Alfa Slab One", serif;
}

.number-left {
  font-size: 36px;
  font-weight: 900;
  color: #870014;
  transform: scaleY(1.4);
  font-family: "Alfa Slab One", serif;
}
.number-right {
  font-size: 36px;
  font-weight: 900;
  color: #5a003c;
  transform: scaleY(1.4);
  font-family: "Alfa Slab One", serif;
}


.save-button-container{
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.save-button{
  width: 100%;
  height: 100%;
  color: black;
  font-weight: 700;
  font-size: 20px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  animation: gradientAnimation 3s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.button-bg-0 {
  background: #870014;
  color: #ffeb7d;
}
.button-bg-1 {
  background: #ffeb7d;
  color: #870014;
}
.button-bg-2 {
  background: #9cd1f5;
  color: #5a003c; 
}