.generate-post-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #c9c4ab;
}
.posts-container {
  width: 50%;
  height: 55%;
  display: flex;
  border: 2px solid #000;
  gap: 30px;
  justify-content: center;
}
.post-container-middle {
  width: 30%;
  height: 100%;
  background-image: url("/cinverse-red.png");
  background-size: cover; /* covers the div nicely */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ffeb7d;
  border-radius: 12px;
  gap: 10px;
}

.post-container-left {
  width: 30%;
  height: 100%;
  background-image: url("/cinverse-yellow.png");
  background-size: cover; /* covers the div nicely */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #870014;
  border-radius: 12px;
  gap: 10px;
}
.post-container-right {
  width: 30%;
  height: 100%;
  background-image: url("/cinverse-blue.png");
  background-size: cover; /* covers the div nicely */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #5a003c;
  border-radius: 12px;
  gap: 10px;
}

.long-line {
  display: flex;
  gap: 10px;
}
.short-line {
  display: flex;
  gap: 10px;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-middle {
  font-size: 36px;
  font-weight: 900;
  color: #ffeb7d;
  transform: scaleY(1.4);
  font-family: "Alfa Slab One", serif;
}

.number-left {
  font-size: 36px;
  font-weight: 900;
  color: #870014;
  transform: scaleY(1.4);
  font-family: "Alfa Slab One", serif;
}
.number-right {
  font-size: 36px;
  font-weight: 900;
  color: #5a003c;
  transform: scaleY(1.4);
  font-family: "Alfa Slab One", serif;
}
