.generate-post-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: end;
  flex-direction: column;
  padding-bottom: 100px;
  gap: 80px;
}

.bg-1 {
  background: #870014;
}

.bg-0 {
  background: #ffeb7d;
}

.bg-2 {
  background: #5a003c;
}

.selected {
  transform: scale(1.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.posts-container {
  width: 50%;
  height: 55%;
  display: flex;
  gap: 40px;
  justify-content: center;
}
.post-container-middle {
  width: 30%;
  height: 100%;
  background-image: url("/cinverse-red.png");
  background-size: cover; /* covers the div nicely */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ffeb7d;
  border-radius: 20px;
  gap: 10px;
}

.post-container-left {
  width: 30%;
  height: 100%;
  background-image: url("/cinverse-yellow.png");
  background-size: cover; /* covers the div nicely */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #870014;
  border-radius: 20px;
  gap: 10px;
}
.post-container-right {
  width: 30%;
  height: 100%;
  background-image: url("/cinverse-blue.png");
  background-size: cover; /* covers the div nicely */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #5a003c;
  border-radius: 20px;
  gap: 10px;
}

.long-line {
  display: flex;
  gap: 10px;
}
.short-line {
  display: flex;
  gap: 10px;
}

.post {
  display: flex;
  justify-content: center;
  align-items: center;
}

.number-middle {
  font-size: 36px;
  font-weight: 900;
  color: #ffeb7d;
  transform: scaleY(1.4);
  font-family: "Alfa Slab One", serif;
}

.number-left {
  font-size: 36px;
  font-weight: 900;
  color: #870014;
  transform: scaleY(1.4);
  font-family: "Alfa Slab One", serif;
}
.number-right {
  font-size: 36px;
  font-weight: 900;
  color: #5a003c;
  transform: scaleY(1.4);
  font-family: "Alfa Slab One", serif;
}

.save-button-container {
  width: 200px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
  cursor: pointer;
}

.save-button {
  width: 100%;
  height: 100%;
  color: black;
  font-weight: 700;
  font-size: 20px;
  border: none;
  border-radius: 9999px;
  cursor: pointer;
  animation: gradientAnimation 3s infinite;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.type-button-bg-0 {
  background: #ffeb7d;
  color: #870014;
  border: 1px solid #870014 !important;
}

.type-button-bg-0:focus {
  background: #870014;
  color: #ffeb7d;
}

.type-button-bg-1 {
  background: #870014;
  color: #ffeb7d;
  border: 1px solid #ffeb7d !important;
}
.type-button-bg-1:focus {
  background: #ffeb7d;
  color: #870014;
}
.type-button-bg-2 {
  background: #5a003c;
  color: #9cd1f5;
  border: 1px solid #9cd1f5 !important;
}

.type-button-bg-2:focus {
  background: #9cd1f5;
  color: #5a003c;
}

.save-button-bg-0 {
  background: #870014;
  color: #ffeb7d;
}

.save-button-bg-1 {
  background: #ffeb7d;
  color: #870014;
}
.save-button-bg-2 {
  background: #9cd1f5;
  color: #5a003c;
}




.choises-container {
  width: 50%;
  height: 70px;
  display: flex;
  gap: 20px;
  justify-content: center;

  align-items: center;
}

.choises-container button {
  height: 70%;
  padding: 0 25px;
  border: none;
  border-radius: 30px;
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
}

.post-type-container {
  width: 55%;
  height: 55%;
  display: flex;
  gap: 40px;
  justify-content: center;
  align-items: center;
}

.post-type-container-middle {
  width: 29%;
  height: 75%;
  background-image: url("/cinverse-red.png");
  background-size: cover; /* covers the div nicely */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #ffeb7d;
  border-radius: 20px;
  gap: 10px;
}
.post-type-container-left {
  width: 29%;
  height: 75%;
  background-image: url("/cinverse-yellow.png");
  background-size: cover; /* covers the div nicely */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #870014;
  border-radius: 20px;
  gap: 15px;
}
.post-type-container-right {
  width: 29%;
  height: 75%;
  background-image: url("/cinverse-blue.png");
  background-size: cover; /* covers the div nicely */
  background-position: center; /* centers the image */
  background-repeat: no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border: 1px solid #5a003c;
  border-radius: 20px;
  gap: 10px;
}
