@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.navbar {
  width: 100vw;
  height: 80px;

  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10000;
  gap: 300px;
}
.logo {
  width: 100px;
  height: 100%;
  /* background: pink; */
  font-family: pacifico;
  color: #a0dcff;
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}
.search {
  width: 40%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.search-inside {
  width: 100%;
  height: 50%;
  background: #a0dcff84;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.search-inside input {
  width: 80%;
  height: 60%;
  border: none;
  background: transparent;
  font-family: 'Bebas neue';
  font-size: 20px;
}
.search-inside input::placeholder {
  color: rgb(68, 67, 67);
  font-size: 20px;

}
.search-inside input:focus {
  outline: none;
  border: none;
}
.search-inside:hover .icon,
.search-inside input:hover ~ .icon,
.search-inside input:focus ~ .icon {
  color: black;
}

.search-inside:hover {
  background: white;
}

.icon {
  width: 20px;
  height: 20px;
  color: white;
}

.list {
  width: 80px;
  height: 100%;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-list {
  width: 30px;
  height: 30px;
  color: rgba(65, 63, 63, 0.8);
}

