@import url("https://fonts.googleapis.com/css2?family=Pacifico&display=swap");

.navbar {
  width: 100vw;
  height: 80px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  gap: 700px;
  padding-left: 30px;

}
.logo {
  width: 100px;
  height: 100%;
  /* background: pink; */
  font-family: pacifico;
  color: #a0dcff;
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 100px;
}

.search {
  width: 70px;
  height: 70px;
  background: #a0dcff;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

}

.search .icon {
  width: 30px;
  height: 30px;
  color: rgba(90, 0, 60, 1);
  position: absolute;
  top: 20px;
  right: 20px;
}


.search .icon:hover {
  cursor: pointer;
  transform: scale(1.2);
  transition: all 0.3s ease-in-out;
}