.search-page {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;

  box-sizing: border-box;
  overflow: hidden;
  justify-content: center;
  align-items: center;
  position: relative;
 
}
.search-container {
  width: 85%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  overflow-y: auto;
  scroll-behavior: smooth;
  scrollbar-width: none;
  gap: 30px;
  padding-top: 10px;
}

.search-header {
  width: 100%;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* allows absolute positioning of go-back */
}

.go-back {
  width: 80px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #a4ddff;
  border-radius: 9999px;
  position: absolute;
  left: 200px; /* adjust this value to move it more or less to the right */
}
.back-icon {
  font-size: 30px;
  color: #42002c; /* Dark purple, matching the border */
}

.search-bar {
  width: 25%;
  height: 80px;
  background-color: #a4ddff;
  border-radius: 9999px;
  display: flex;
  align-items: center;
  justify-content: start;
  padding-left: 20px;
}


.search-bar-content {
  display: flex;
  align-items: center;
  gap: 15px;
}

.search-icon {
  font-size: 30px;
  color: #42002c; /* Dark purple, matching the border */
}

.search-bar input {
  background: transparent;
  border: none;
  outline: none;
  font-size: 20px;
  color: #42002c;
  font-weight: bold;
  width: 100%;
}

.search-bar input::placeholder {
  color: rgba(66, 0, 44, 0.4); /* Transparent purple */
}

/* Hide scrollbar for WebKit (Chrome, Safari) */
.search-container::-webkit-scrollbar {
  display: none;
}

.search-container.scrolling {
  overflow-y: scroll;
}

.movie-card-search {
  width: 300px;
  height: 450px;
  position: relative;
  border-radius: 10px;
  overflow: hidden;

  transition: transform 0.2s ease;
}

.movie-card-search:hover {
  transform: scale(1.01) rotate(0.5deg);
}

.movie-card-search img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.no-results {
  grid-column: span 5;
  text-align: center;
  font-size: 1.2rem;
  color: #777;
  margin-top: 2rem;
}
