.search-page {
  width: 100vw;
  height: 100vh;


  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;

}
.search-bar {
  width: 60%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
}

.search-container {
  width: 60%;
  height: 80%;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
  
 
}

.search-container  div {
  background: lightpink;  
  width: 200px;
  height: 300px;
}