.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100vw;
  overflow: hidden;
  gap: 80px;

}

.column {
  position: relative;
  height: 100vh;
  width: 100%;
  will-change: transform;
  padding: 0px;

}

.small-part {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 20px;
  will-change: transform;
  padding: 0;
}

.card-container {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  border-radius: 16px;
  overflow: hidden;
  transition: transform 0.4s cubic-bezier(0.16, 1, 0.3, 1);
  padding-right: 0;
}

.card-container:hover {
  transform: scale(1.03) rotate(0.5deg);
  box-shadow: 0 16px 48px rgba(0, 0, 0, 0.4);
  z-index: 50;
}

.column-content {
  display: flex;
  flex-direction: column;
  padding-left:-100px;
}

/* Dragging state */
