.container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  width: 100%;
}
.container-clicked {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  width: 70%;
  justify-self: center;
  height: 100vh;

  padding-top: 100px;
}

.column-clicked {
  position: relative;
  height: 100vh;
}

.column {
  position: relative;
  height: 100vh;
}

/* Column vertical offset */
.column:nth-child(1) {
  transform: translateY(-100px);
}
.column:nth-child(2) {
  transform: translateY(-60px);
}
.column:nth-child(3) {
  transform: translateY(-150px);
}
.column:nth-child(4) {
  transform: translateY(-30px);
}
.column:nth-child(5) {
  transform: translateY(-200px);
}

.small-part {
  position: absolute;

  display: flex;
  flex-direction: column;

  padding-bottom: 20px;
}
.small-part-clicked {
  position: absolute;
  bottom: 0;

  display: flex;
  flex-direction: column;
}

.card-container {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.card-container:hover {
  transform: scale(1.02) rotate(0.5deg);
  transition: transform 0.3s ease-in-out;
  overflow-x: hidden;
}

.column-content {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}

.typing {
  display: flex;
  flex-direction: column;
}
